:root {
    --clr-neon-orange: hsl(380 100% 54%);
    --clr-neon-cyan: hsl(160 100% 54%);
    --clr-neon-purple: hsl(275 100% 54%);
    --clr-neon-pink: hsl(317 100% 54%);
    --clr-neon-black: hsl(323 21% 16%)
}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: black;
    color: white;
}

section {
    text-align: center;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

.container{
    position: relative;
    width: 400px;
    height: 300px;
    margin: 240px auto;
}

.container .box{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 3rem;
    position: relative;
    width: 400px;
    height: 400px;
    background-color: white;
    border: 1px solid rgba(59,58,58,0.46);
    border-radius: 20px;
    box-shadow: -10px 5px 10px gray;
    top: 0;
    transition: top ease 0.5s;
}

.header{
    position: absolute;
    top: 0px;
    text-shadow: -2px 4px 10px black;
    color: white;
}

.welcome-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.welcome-button{
    font-size: 4rem;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon-pink);
    border: var(--clr-neon-pink) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon-pink), 0 0 0.5em 0 var(--clr-neon-pink);
    position: relative;    
}

.welcome-button::before{
    pointer-events: none;
    content: "";
    position: absolute;
    background: var(--clr-neon-pink);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
  
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
    opacity: 0.7;
}

.welcome-button::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon-pink);
    opacity: 0;
    background-color: var(--clr-neon-black);
    z-index: -1;
    transition: opacity 100ms linear;
}

.welcome-button:hover{
    color: var(--clr-neon-pink);
}

.welcome-button:hover::before{
    opacity: 1;
}

.welcome-button:hover::after{
    opacity: .2;
}

.leaderboard{
    max-width: 55em;
    margin-right: auto;
    margin-left: auto;
    display: block;
    padding: 1em;
    padding-top: 2em;

}

.leaderboard-image-theme{
    width: 20em;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 35%;
}

.leaderboard-title{
    display: inline-block;
    text-align: center;
    margin: 1em;
    color: var(--clr-neon-pink);
    font-weight: bold;
    position: relative;
}

.leaderboard-search{
    border-radius: 5px;
    border: none;
    background-color: transparent;
    border-bottom: var(--clr-neon-pink) 3px solid;
    padding: .5em;
    font-size: 1em;
    color: var(--clr-neon-orange);
}

.leaderboard-search:focus{
    outline: none;
}

table{
    margin-top: 2em;
    width: 50em;
    color: var(--clr-neon-pink);
    margin-left: auto;
    margin-right: auto;
}

table thead{
    opacity: .8;
}

table td{
    max-width: 2em;
    padding: .5em;
    text-align: center;
}

tbody tr{
    box-shadow: 0 2px white;
    border-radius: 9px;
}

tbody tr:hover{
    transform: scale(1.025);
    transition: .2s ease-in-out;
}

#tbody tr:nth-child(even){
    background-color: var(--clr-neon-pink);
}


@media(max-width: 860px){
    .leaderboard{
        padding: 0;
    }
    .leaderboard-image-theme{
        margin-right: auto;
        margin-left: auto;
        display: block;
    }

    .leaderboard-title{
        display: block;
        transform: translateY(0);
    }
    table{
        max-width: 100vw;
        overflow: scroll;
    }
}

 
.menu-button{
    font-size: 4rem;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon-pink);
    border: var(--clr-neon-pink) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon-pink), 0 0 0.5em 0 var(--clr-neon-pink);
    position: relative;    
}

.grid{
    border: black solid;
    padding: 1px
}

.board{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 25%;
    border: var(--clr-neon-pink) 0.125em solid;
    border-radius: 0.25em;
    text-align: center;
}

.coinChoice{
    display: block;
    text-align: center;
    height: 50px;
    width: 100px;
    margin: 10px;
    background-color: black;

    font-size: 1rem;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon-pink);
    border: var(--clr-neon-pink) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon-pink), 0 0 0.5em 0 var(--clr-neon-pink);
    position: relative;
    width: 45%;
    bottom: -110%;
}

.coinChoice::before{
    pointer-events: none;
    content: "";
    position: relative;
    background: var(--clr-neon-pink);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
  
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
    opacity: 0.7;
}

.coinChoice::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon-pink);
    opacity: 0;
    background-color: var(--clr-neon-black);
    z-index: -1;
    transition: opacity 100ms linear;
}

.coinChoice:hover{
    color: var(--clr-neon-pink);
}

.coinChoice:hover::before{
    opacity: 1;
}

.coinChoice:hover::after{
    opacity: .5;
}

.timer{
    width: 100%;
    background: black;
    border: 0px;
}

.timer::-webkit-progress-value {
    background-color: var(--clr-neon-cyan);
  }

.timer::-moz-progress-bar {
    background-color: var(--clr-neon-cyan);
}

.coinValue{
    color: var(--clr-neon-pink);
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
    font-size: 100px;
}

.LUL{
    font-family: "Comic Sans MS";
    -webkit-transform: rotate(1.5deg) translate(0px,0px);
}