:root {
    --clr-neon-orange: hsl(380 100% 54%);
    --clr-neon-cyan: hsl(160 100% 54%);
    --clr-neon-purple: hsl(275 100% 54%);
    --clr-neon-pink: hsl(317 100% 54%);
    --clr-neon-black: hsl(323 21% 16%)
}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: black;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

.container{
    position: relative;
    width: 400px;
    height: 300px;
    margin: 240px auto;
}

.container .box{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 3rem;
    position: relative;
    width: 400px;
    height: 400px;
    background-color: white;
    border: 1px solid rgba(59,58,58,0.46);
    border-radius: 20px;
    box-shadow: -10px 5px 10px gray;
    top: 0;
    transition: top ease 0.5s;
}

.header{
    position: absolute;
    top: 0px;
    text-shadow: -2px 4px 10px black;
    color: white;
}

.welcome-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.welcome-button{
    font-size: 4rem;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon-pink);
    border: var(--clr-neon-pink) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon-pink), 0 0 0.5em 0 var(--clr-neon-pink);
    position: relative;    
}

.welcome-button::before{
    pointer-events: none;
    content: "";
    position: absolute;
    background: var(--clr-neon-pink);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
  
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
    opacity: 0.7;
}

.welcome-button::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon-pink);
    opacity: 0;
    background-color: var(--clr-neon-black);
    z-index: -1;
    transition: opacity 100ms linear;
}

.welcome-button:hover{
    color: var(--clr-neon-pink);
}

.welcome-button:hover::before{
    opacity: 1;
}

.welcome-button:hover::after{
    opacity: .2;
}