<!DOCTYPE html>
<head>
    <title> ABOUT HEADS OR TAILS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <a href="main_menu">
        <button class="exitGame"> Exit to main menu</button>
    </a>

    <div class = "BasicMenu">
        <h1><u>ABOUT HEADS OR TAILS:</u></h1>
        <br/>
    <p>you know how to play heads or tails bro, cmon don't be dumb</p>
        <label for="project repo">On a serious note, here is the repository's link to our project: </label>
        <a href="https://github.com/PriestPope/Le_epic_hax0rs" id="project repo">le epic hax0rs's repository.</a>
    </div>
</body>