<!DOCTYPE html>
<head>
    <title>CONTACT INFORMATION</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

    <body>
        <a href= "main_menu">
            <button class="exitGame"> Exit to main menu</button>
        </a>
        
        <div class = "BasicMenu">
            <h1><u>CONTACT INFORMATION</u></h1>
        
            <p>Christopher Garcia</p>

            <p>Gurleen Rekhi</p>

            <p>Nawar Khouri</p>

            <p>Joey Poblette</p>
        </div>
    </body>
</html>