<!DOCTYPE html>
<head xmlns="http://www.w3.org/1999/html">
    <title>CONTACT INFORMATION</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

    <body>
        <a href= "main_menu">
            <button class="exitGame"> Exit to main menu</button>
        </a>

        <div class = "BasicMenu">
            <h1><u>CONTACT INFORMATION</u></h1>

            <p>Christopher Garcia</p>
                <label for="chris's email">Email: </label>
                <a id="chris's email" href="mailto:cg83@buffalo.edu">cg83@buffalo.edu</a>
            ---
                <label for="chris's repo">GitHub repo: </label>
                <a id="chris's repo" href="https://github.com/Bofelmet">Chris's repo</a>

            <br/>

            <p>Gurleen Rekhi</p>
                <label for="gurleen's email">Email: </label>
                <a id= "gurleen's email" href="mailto:gurleenr@buffalo.edu">gurleenr@buffalo.edu</a>
            ---
                <label for="gurleen's repo">GitHub repo: </label>
                <a id="gurleen's repo" href="https://github.com/gurr-r">Gurleen's repo</a>

            <br/>

            <p>Nawar Khouri</p>
                <label for="nawar's email">Email: </label>
                <a id= "nawar's email" href="mailto:nawarkho@buffalo.edu">nawarkho@buffalo.edu</a>
            ---
                <label for="nawar's repo">GitHub repo: </label>
                <a id="nawar's repo" href="https://github.com/PriestPope">Nawar's repo</a>

            <br/>

                <p>Joey Poblette</p>
                <label for="joey's email">Email: </label>
                <a id= "joey's email" href="mailto:joeypobl@buffalo.edu">joeypobl@buffalo.edu</a>
            ---
                <label for="joey's repo">GitHub repo: </label>
                <a id="joey's repo" href="https://github.com/jpobzy">Joey's repo</a>
            </div>
    </body>
</html>