<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <!-- <link rel="stylesheet" type="text/css" href="\static\css\style.css"> -->
    <title>HEADS AND TAILS</title>
</head>
<body>

    <p id="score"> score </p>
    <p id="timerNumber"> Timer:0 </p>
    <p class="LUL"> ^ this man does NOT know how to handle truncation errors ^</p>
    <progress class="timer" id="timer" value="5" max="5"></progress>
    <p class="choice" id="choice"> You chose: {{ playerChoice }}</p>
    <p class="choice" id="opponentChoice"> Opponent chose: </p>
    <p class="outcome" id="outcome"> You have: </p>
    <div class="board">

        <button class="coinChoice" id="heads" onclick="headsFunction(socket.socket)"> Heads </button>
        <button class="coinChoice" id="tails" onclick="tailsFunction(socket.data)"> Tails </button>
        <p class="coinValue" id="coinValue"></p>
    </div>

        <script type="text/javascript">
            socket.on('render_message',function(data){
                $('#messages').append($('<p>').text(data));
            });

        </script>
        <div id="messages">

        </div>

    <input type="text" id="message_box" placeholder="Message">
    <button id="sendBTN" onclick="sendMessage()">Send</button>

</body>
</html>