<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> Main Menu </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
            integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript">
        const socket = io();
        var _room_id = "{{lobby_name}}";

        function check(room_id) {
            _room_id = room_id
            socket.emit("check_room", room_id);
        }

        socket.on("render_template", (data) => {
            socket.emit("wait_to_start_game", _room_id);
            document.getElementById("remove").remove();
            document.getElementById("loading_screen").innerHTML = data;
        });

        socket.on("nonexistent_lobby", (data) => {
            document.getElementById("joinRoom").innerText = data;
        });

        // socket.emit("wait_to_start_game", _room_id);

        function removeStatus(){
            document.getElementById("ready").remove();
            readyCheck(_room_id);
        }

        socket.on("ready_status", (data) => {
            console.log("entered");
            document.getElementById("change").innerText = "";
            document.getElementById("change").innerText = data;

        });

        socket.on("remove_status", () => {
            document.getElementById("playerStatus").remove();
        });
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='script/HeadsTails.js') }}"></script>

</head>
<div id="remove">
    <body>
    <div id="exit">
        <a href="main_menu">
            <button id="exitGame"> Exit to main menu</button>
        </a>
    </div>

    <div class="BasicMenu" id="joinRoom">
        <p> Specify what room you wish to join</p>
        <input type="text" id="room" name="room">
        <input type="button" value="Join Room" onclick=check(document.getElementById("room").value)>
    </div>

    <div id="holder"></div>
    </body>

</div>

<div id="loading_screen">
</div>


</html>