<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> Main Menu </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script type="text/javascript">
        const socket = io();
        function joinRoom() {
            const roomText = document.getElementById("room");
            const room_id = roomText.value;
            socket.emit("join", room_id);
            socket.emit("wait_to_start_game", room_id)
        }

        socket.on("existent_lobby", function() {

            document.getElementById("joinRoom").parentNode.removeChild(document.getElementById("joinRoom"));

            socket.emit("getHTMLPage", "getLoadingScreen")

            socket.on("returned_html", function (data) {
                console.log(data);
                document.getElementById("exitGame").parentNode.removeChild(document.getElementById("exitGame"));
                document.getElementById("gameContainer").innerHTML = data["data"];
            });
        });

        socket.on("lobby_nonexistent", function(data){
            console.log(data);

            document.getElementById("joinRoom").parentNode.removeChild(document.getElementById("joinRoom"));

            document.getElementById("playerStatus").innerText = data["data"];
        });
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='script/HeadsTails.js') }}"></script>
</head>
<body>
    <a href= "main_menu">
        <button id="exitGame"> Exit to main menu</button>
    </a>

    <div class = "BasicMenu" id="joinRoom">
        <p> Specify what room you wish to join</p>
        <input type="text" id="room" name="room">
        <input type="button" onClick="joinRoom()" name="Join Room">
    </div>

    <div id="playerStatus">

    </div>

    <div id="gameContainer">

    </div>
</body>
</html>