<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title> LEADERBOARD </title>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
 <div class="container">
        <div class="box">
            <div class="header"> Leaderboard </div>
                <table border="4">
                  <tr>
                    <th>RANK</th>
                    <th>PLAYER NAME</th>
                    <th>SCORES</th>
                    <th>TOTAL GAMES</th>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>Le Epic Hax0rs</td>
                    <td>10</td>
                    <td>11</td>
                  </tr>
                </table>

</body>
</html>
