<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> Main Menu </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

</head>
<body>

    <script type="text/javascript">
        const socket = io();
        const room_id = "{{lobby_name}}";
        // socket.emit("join", room_id)
        socket.emit("getHTMLPage")

        socket.on("returned_html",  function(data) {
            console.log(data)
            document.getElementById("gameContainer").innerHTML = data["data"]
            document.getElementById("playerStatus").parentNode.removeChild(document.getElementById("playerStatus"));
            // const template = data["date"];
            // for (let i of template){
            //     document.getElementById("playerStatus").innerHTML = data["data"]
            // }
        });
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='script/HeadsTails.js') }}"></script>

    <div class = "BasicMenu" id="playerStatus">
    <p>lobby name: {{lobby_name}}</p>
    <p>please wait for other user to join</p>
    </div>

    <div id="gameContainer">

    </div>
</body>
</html>