<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> Main Menu </title>
    <link rel="stylesheet" type="text/css" href="\static\css\style.css">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->
</head>
<body>
<!--    change to button that says play-->
<!--    <div class ="menu-container">-->
<!--        <a href="login" class="menu-button">Login In</a>-->
<!--    </div>-->

    <div>
        <a href="leaderboard" class="menu-button">Leaderboard</a>
    </div>

    <div>
        <a href="contact_info" class="menu-button">Contact Info</a>
    </div>

    <div>
        <a href="about" class="menu-button">About</a>
    </div>
</body>
</html>