<!DOCTYPE html>
<html>
<head>
    <title>PLAYER INFORMATION</title>
 <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <a href="main_menu">
    <button class="exitGame"> Exit to main menu</button>
    </a>

    <div class = "BasicMenu">
        <h1><u>PLAYER INFORMATION</u></h1>
        
        {% block y %}
        <div class="player">
        {% if session.username %}
        <p>PLAYER NAME: {{username}} </p>
        <p>PLAYER SCORE: {{score}}</p>
        <p>GAMES PLAYED: {{total}}</p>

        {% else %}
        Invalid Player<a href="login" class="mainMenu">Login</a>

        {% endif %}
        </div>
        {% endblock %}

    </div>
    
</body>
</html>