<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="\static\css\style.css">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->
    <title>TIC TAC TOE</title>
</head>
<body>
    <script src="/TicTacToe.js"></script>
    <button class="exitGame" onclick="amogus()"> Exit to main menu</button>
    <p id="score"> score </p>
    <p id="timerNumber"> Timer:0 </p>
    <p class="LUL"> ^ this man does NOT know how to handle truncation errors ^</p>
    <progress class="timer" id="timer" value="5" max="5"></progress>
    <p class="choice" id="choice"> You chose: </p>
    <p class="choice" id="opponentChoice"> Opponent chose: </p>
    <p class="outcome" id="outcome"> You have: </p>
    <div class="board">
        <button class="coinChoice" id="heads" onclick="headsFunction()"> Heads </button>
        <button class="coinChoice" id="tails" onclick="tailsFunction()"> Tails </button>
        <p class="coinValue" id="coinValue"></p>
    </div>

</body>
</html>