<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>TIC TAC TOE</title>
</head>
<body>
    <div class = "board" id="board">
    </div>

    <div class="gameStatus"></div>
    <button class="restartGame"> Restart Game </button>
    
    <input type = "button" onclick="initializeHTML()" value = "Load HTML">
    <script src="/TicTacToe.js"></script>
    <div id="grid0" class="tile" coordinate="0">0</div>
    <div id="grid1" class="tile" coordinate="1">1</div>
    <div id="grid2" class="tile" coordinate="2">2</div>
    <div id="grid3" class="tile" coordinate="3">3</div>
    <div id="grid4" class="tile" coordinate="4">4</div>
    <div id="grid5" class="tile" coordinate="5">5</div>
    <div id="grid6" class="tile" coordinate="6">6</div>
    <div id="grid7" class="tile" coordinate="7">7</div>
    <div id="grid8" class="tile" coordinate="8">8</div>

</body>
</html>